/* 全局 */
* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: "Open Sans", Arial, Helvetica, "Segoe UI Symbol", "Segoe MDL2 Assets", "微软雅黑", "Microsoft YaHei", "Hei SC", sans-serif;
  font-size: 14px;
  line-height: 28px;
}

body, a {
  color: #666;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ef2f2f;
}

/* 布局 */
.container {
  margin: 0 auto;
  max-width: 1400px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.complete {
  max-width: 640px;
  margin: 40px auto;
  padding: 40px;
  position: relative;
}

.complete h1 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-align: center;
}

.complete p {
  color: #999;
  font-size: 14px;
  line-height: 28px;
  margin-top: 16px;
  text-align: center;
}

/* 头部 */
.header-wrap {
  background-color: rgba(29, 35, 47, .8);
  box-shadow: 0 -40px 40px 40px rgba(0, 0, 0, .1);
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

@keyframes headerWrapSlideDown {
  0% {
    transform: translateY(-73px);
  }
  100% {
    transform: translateY(0);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .logo {
  color: white;
  display: block;
  font-size: 24px;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
}

/* 主导航 */
.nav {
  position: relative;
}

.nav li {
  position: relative;
}

.nav li a {
  display: block;
  position: relative;
}

.nav li a i,
.nav li a span {
  display: block;
  position: relative;
}

.nav li a span {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav li a .icon {
  height: 32px;
  position: relative;
  transition: all .6s ease;
  width: 32px;
}

.nav li a .icon:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}

.nav .sub {
  display: none;
  position: absolute;
  width: 180px;
}

.nav .sub > ul {
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .05), 0 8px 32px rgba(0, 0, 0, .05);
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav .sub ul > li > a {
  padding: 0 32px;
}

.nav .sub ul > li > a .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.nav li:hover > a .icon {
  transform: rotate(180deg);
}

.nav li:hover > .sub {
  display: block;
}

.nav > ul {
  display: flex;
  padding: 4px;
}

.nav > ul > li {
  margin: 4px;
}

.nav > ul > li > a {
  border: 2px transparent solid;
  border-radius: 3px;
  color: white;
  display: flex;
}

.nav > ul > li > a span {
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  max-width: 200px;
  padding: 0 16px;
}

.nav > ul > li > a .icon {
  margin-right: 12px;
  width: 10px;
}

.nav > ul > li > a .icon:before {
  border-color: #999 transparent transparent transparent;
  border-style: solid;
  border-width: 4px;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -2px;
}

.nav > ul > li > .sub {
  left: 50%;
  margin-left: -90px;
  padding-top: 8px;
  top: 100%;
}

.nav > ul > li:hover > a {
  background-color: rgba(100, 100, 100, .2);
  border-color: rgba(100, 100, 100, .4);
  color: white;
}

.nav > ul > li.current > a {
  background-color: #f95353;
  border-color: #ef2f2f;
  color: white;
}

.nav .sub > ul > li > a {
  font-size: 12px;
  line-height: 32px;
  padding: 0 32px;
}

.nav .sub > ul > li > a span {
  text-align: center;
}

.nav .sub > ul > li > a .icon:before {
  border-color: transparent transparent transparent #999;
  border-style: solid;
  border-width: 4px;
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -4px;
}

.nav > ul > li > .sub li:hover > a {
  background-color: #ef2f2f;
  color: white;
}

.nav > ul > li > .sub li:hover > a .icon:before {
  border-color: transparent transparent transparent white;
}

.nav .sub .sub {
  left: 100%;
  padding-left: 16px;
  top: -8px;
}

/* 内容 */
.body-wrap {
  overflow: hidden;
  position: relative;
}

/* 页脚 */
.footer-wrap {
  background-color: #1d232f;
  color: #fff;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.stack {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  padding: 4px;
  position: relative;
}

.stack > li {
  padding: 4px;
  position: relative;
}

.stack > li a {
  border: 2px #888 solid;
  color: #888;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 0 16px;
  line-height: 30px;
  text-overflow: ellipsis;
  transition: all .6s ease;
  white-space: nowrap;
}

.stack > li a:hover {
  color: #eea383;
  border-color: #eea383;
}

.copyright {
  color: #888;
  font-size: 12px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.copyright span,
.copyright a {
  display: inline-block;
  padding: 0 4px;
}

.copyright a {
  color: #fff;
}

.copyright a:hover {
  color: #eea383;
  text-decoration: underline;
}

/* 回到顶部 */
.backtop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

/* 主轮播图 */
.carousel-main {
  position: relative;
}

.carousel-main .swiper-wrapper .item-wrap {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.carousel-main .swiper-wrapper .item-wrap .item {
  display: block;
  height: 0;
  padding-bottom: 54%;
  position: relative;
  text-align: center;
}

.carousel-main .swiper-wrapper .item-wrap .item .inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.carousel-main .swiper-wrapper .item-wrap .item img {
  min-height: 100%;
  max-height: 100%;
}

/* 文章列表 */
.article-list {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  position: relative;
}

.article-list > .item {
  padding-top: 1px;
  position: relative;
  width: 33.333333%;
}

.article-list > .item > .inner {
  margin: 25px;
  position: relative;
}

.article-list > .item > .inner .cover {
  height: 0;
  padding-bottom: 70%;
  position: relative;
}

.article-list > .item > .inner .cover a {
  align-items: center;
  border-radius: 3px;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.article-list > .item > .inner .cover img {
  height: auto;
  width: 100%;
}

.article-list > .item > .inner h2 {
  margin-top: 16px;
}

.article-list > .item > .inner h2 a {
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-list > .item > .inner .attr {
  align-items: center;
  display: flex;
  margin-top: 8px;
  position: relative;
}

.article-list > .item > .inner .attr a,
.article-list > .item > .inner .attr span {
  display: block;
  margin-right: 16px;
  max-width: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
