<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" th:href="@{/css/starter-template.css}" />
    <link rel="stylesheet" th:href="@{/css/sign.css}" />
</head>
<body>

<div class="container">
    <th:block layout:fragment="content"></th:block>
</div>

<script type="text/javascript" th:src="@{/vendor/jQuery/1.12.4/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<th:block layout:fragment="extendScript"></th:block>

</body>
</html>