<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/main">
<head>
  <meta charset="UTF-8">
  <title th:text="${pageInfo.title}"></title>
</head>
<body>
<th:block layout:fragment="content">

  <section class="call-to-action bg-1 section-sm overly">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>We design delightful digital experiences.</h2>
            <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results <br>
              we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
            <a class="btn btn-main btn-solid-border" href="#">Tell Us Your Story</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-form">
    <div class="container">
      <div class=" contact-box row">
        <div class="col-md-12">
          <div class="block">
            <h2>Stop By For A visit</h2>
            <ul class="address-block">
              <li>
                <i class="ion-ios-location-outline"></i>North Main Street,Brooklyn Australia
              </li>
              <li>
                <i class="ion-ios-email-outline"></i>Email: contact@mail.com
              </li>
              <li>
                <i class="ion-ios-telephone-outline"></i>Phone:+88 01672 506 744
              </li>
            </ul>
            <ul class="social-icons">
              <li>
                <a href="http://www.themefisher.com"><i class="ion-social-googleplus-outline"></i></a>
              </li>
              <li>
                <a href="http://www.themefisher.com"><i class="ion-social-linkedin-outline"></i></a>
              </li>
              <li>
                <a href="http://www.themefisher.com"><i class="ion-social-pinterest-outline"></i></a>
              </li>
              <li>
                <a href="http://www.themefisher.com"><i class="ion-social-dribbble-outline"></i></a>
              </li>
              <li>
                <a href="http://www.themefisher.com"><i class="ion-social-twitter-outline"></i></a>
              </li>
              <li>
                <a href="http://www.themefisher.com"><i class="ion-social-facebook-outline"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</th:block>
</body>
</html>
