<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/main">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">

    <ol class="breadcrumb">
        <li><a href="/">主页</a></li>
    </ol>

    <div class="alert alert-info" role="alert">全栈之路最后一站</div>

    <div class="jumbotron">
        <h1>Spring Boot & thymeleaf</h1>
        <p>2019 年，各大编程语言都已经拥有了面向未来的语法和架构思想，各种灵活的框架也层出不穷，让我们从 Spring Boot 开始，一步步完成全栈开发的最后一站吧！</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">大师之路</a></p>
    </div>

</th:block>
</body>
</html>