<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout/main}">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>

<body>
<th:block layout:fragment="content">

  <section class="call-to-action bg-1 section-sm overly">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>设计驱动变革</h2>
            <p>我们把深入的消费洞察转化为极致的用户体验，用创新设计驱动商业变革。</p>
            <a class="btn btn-main btn-solid-border" href="#">即刻联系</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="page-wrapper">
    <div class="container">

      <div class="row">

        <div class="portfolio-menu">
          <ul>
            <li class="filter">
              <a th:href="${'/Category'}">全部</a>
            </li>
            <li class="filter" th:each="category : ${categories}">
              <a th:href="${'/Category/'+ category.alias}" th:text="${category.name}"></a>
            </li>
          </ul>
        </div>

      </div>

      <div th:replace="Public/article_list::body"></div>

      <div class="pagination-wrap text-center" th:if="${#lists.isEmpty(articles) == false}"
           th:utext="${pager}"></div>

    </div>
  </div>

</th:block>
</body>
</html>
